<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="title-box text-center">
        <h3 class="title-a">
          Projects
        </h3>
        <p class="subtitle-a">
          For more cool projects, please visit my
          <a href="https://github.com/Hidorikun" class="btn-link">GitHub</a>
          page
        </p>
        <div class="line-mf"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let project of projects" class="col-md-4">
      <div class="work-box">
        <a [href]="project.thumbnail" data-lightbox="gallery-mf">
          <div class="work-img">
            <img [src]="project.thumbnail" alt="" class="img-fluid">
          </div>
        </a>
        <div class="work-content">
          <div class="row">
            <div class="col-sm-8">
              <h2 class="w-title">{{project.name}}</h2>
              <div class="w-more">
                <span class="w-ctegory">{{project.category}}</span> / <span class="w-date">{{project.year}}</span>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="w-like">
                <a [href]="project.gitLink"><span class="ion-social-github"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
