.page {
  width: 100%;
  height: 100%;
  padding-top: 60px;

  background: rgb(21,52,184);
  background: radial-gradient(circle, rgba(21,52,184,1) 0%, rgba(44,9,121,1) 38%, rgba(23,0,42,1) 100%);
}

.board {
  display: grid;
  grid-template-rows: repeat(8, 12.5%);
  grid-template-columns: repeat(8, 12.5%);

  margin: auto;
  width: 600px;
  height: 600px;
}

.cell {

  text-align: center;
  z-index: 0;
  background:
    radial-gradient(white 15%, transparent 16%) 0 0,
    radial-gradient(white 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(234, 234, 234, 0.9) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(234, 234, 234, 0.9) 15%, transparent 20%) 8px 9px;
  background-color: #ffffff;
  background-size:16px 16px;

  border: 2px solid white
}

.dark-cell {
  z-index: 0;
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
  background-color: #131313;
  background-size: 20px 20px;

  border: 2px solid black;
}

.piece {
  color: gray;
}

.dark {
  color: rgb(3, 66, 184);
}

.highlighted {
    /*background: rgba(128, 255, 83, 0.72);*/

  border: 5px dashed rgb(128, 255, 83)
}

/* hang */
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover,
.hvr-hang:focus,
.cdk-drop-list-dragging.highlighted.piece-container,
.cdk-drop-list-dragging.highlighted,
.highlighted{
  animation-name: hvr-hang-sink, hvr-hang;
  animation-duration: .3s, 1.5s;
  animation-delay: 0s, .3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}
@keyframes hvr-hang {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    transform: translateY(-10px);
  }
}

/* shadow drop bottom */
.shadow-drop-top {
  animation-name: shadow-drop-top, shadow-drop-top-pulse;
  animation-duration: .5s, 2s;
  animation-delay: 0s, .5s;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940), ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards;
}
@keyframes shadow-drop-top {
  from {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: 0 -55px 20px -40px rgba(255, 255, 255, 0.2),
                0 -55px 30px -40px rgba(62, 121, 255, 0.2),
                0 -55px 40px -40px rgba(38, 128, 255, 0.2),
                0 -55px 55px -40px rgba(29, 106, 255, 0.2)
  }
}
@keyframes shadow-drop-top-pulse {
  from {
    box-shadow: 0 -55px 20px -40px rgba(255, 255, 255, 0.2),
                0 -55px 30px -40px rgba(62, 121, 255, 0.2),
                0 -55px 40px -40px rgba(38, 128, 255, 0.2),
                0 -55px 55px -40px rgba(29, 106, 255, 0.2)
  }
  to {
    box-shadow: 0 -55px 20px -40px rgba(255, 255, 255, 0.5),
                0 -55px 30px -40px rgba(62, 121, 255, 0.5),
                0 -55px 40px -40px rgba(38, 128, 255, 0.5),
                0 -55px 55px -40px rgba(29, 106, 255, 0.5)

  }
}

/* shadow drop bottom */
.shadow-drop-bottom {
  animation-name: shadow-drop-bottom, shadow-drop-bottom-pulse;
  animation-duration: .5s, 2s;
  animation-delay: 0s, .5s;
  animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940), ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-direction: normal, alternate;
  animation-fill-mode: forwards;
}
@keyframes shadow-drop-bottom {
  from {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: 0 55px 20px -40px rgba(255, 255, 255, 0.2),
    0 55px 30px -40px rgba(62, 121, 255, 0.2),
    0 55px 40px -40px rgba(38, 128, 255, 0.2),
    0 55px 55px -40px rgba(29, 106, 255, 0.2)
  }
}
@keyframes shadow-drop-bottom-pulse {
  from {
    box-shadow: 0 55px 20px -40px rgba(255, 255, 255, 0.2),
    0 55px 30px -40px rgba(62, 121, 255, 0.2),
    0 55px 40px -40px rgba(38, 128, 255, 0.2),
    0 55px 55px -40px rgba(29, 106, 255, 0.2)
  }
  to {
    box-shadow: 0 55px 20px -40px rgba(255, 255, 255, 0.5),
    0 55px 30px -40px rgba(62, 121, 255, 0.5),
    0 55px 40px -40px rgba(38, 128, 255, 0.5),
    0 55px 55px -40px rgba(29, 106, 255, 0.5)
  }
}

.cdk-drag-preview {
}

.cdk-drag-placeholder {
  display: none;
}

.cdk-drag-animating {
}

.cdk-drop-list {
}

.cdk-drag {
  cursor: pointer;
}

.cdk-drag-disabled {
  cursor: default;
}

.cdk-drop-list-dragging.highlighted,
.cdk-drop-list-dragging.highlighted.piece-container{
  border: 5px dashed rgb(3, 66, 184);
}

.highlighted.piece-container {
  border: 5px dashed red;
}
