
<!--&lt;!&ndash;/ Nav Star /&ndash;&gt;-->
<!--<nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">-->
<!--  <div class="container">-->
<!--    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"-->
<!--            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span></span>-->
<!--      <span></span>-->
<!--      <span></span>-->
<!--    </button>-->
<!--    <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">-->
<!--      <ul class="navbar-nav">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll active" href="#home">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll" href="#about">About</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll" href="#projects">Projects</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link js-scroll" href="#contact">Contact</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--&lt;!&ndash;/ Nav End /&ndash;&gt;-->

<!--/ Intro Skew Star /-->
<div id="home" class="intro route bg-image" style="background-image: url(/assets/img/jita.jpg)">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <h1 class="intro-title mb-4">I am George Vele</h1>
        <p class="intro-subtitle"> Software Engineer</p>
        <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
      </div>
    </div>
  </div>
</div>
<!--/ Intro Skew End /-->

<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="../assets/img/profil.jpg" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info" >
                    <p><span class="title-s">Name: </span> <span>Vele Radu-George</span></p>
                    <p><span class="title-s">Profile: </span> <span>Software engineer</span></p>
                    <p style="word-break: break-all"><span class="title-s" >Email: </span> <span>georgevele2016@gmail.com</span></p>
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skills</p>
                <div style="display: flex; flex-wrap: wrap;">
                  <img src="../assets/img/angular-logo.png" class="logo img-fluid rounded b-shadow-a" title="Angular2">
                  <img src="../assets/img/java-logo-2.png" class="logo img-fluid rounded b-shadow-a" title="Java">
                  <img src="../assets/img/kotlin-logo.png" class="logo img-fluid rounded b-shadow-a" title="Kotlin">
                  <img src="../assets/img/cpp-logo.png" class="logo img-fluid rounded b-shadow-a" title="C++">
                  <img src="../assets/img/python-logo.png" class="logo img-fluid rounded b-shadow-a" title="Python3">
                  <img src="../assets/img/spring-boot.png" class="logo img-fluid rounded b-shadow-a" title="Spring Boot">
                  <img src="../assets/img/git-logo.png" class="logo img-fluid rounded b-shadow-a" title="Git">
                  <img src="../assets/img/sql-logo.png" class="logo img-fluid rounded b-shadow-a" title="SQL">
                  <img src="../assets/img/mongo-logo.png" class="logo img-fluid rounded b-shadow-a" title="MongoDB">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  Hei there, I am George. I have finished my bachelor in informatics and now I'm studying a software engineering
                  master, and working part time in the industry.
                </p>
                <p class="lead">
                  I like learning and improving my skills whenever possible.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="section-counter paralax-mf bg-image" style="background-image: url(/assets/img/counters-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <div class="counter-box pt-4 pt-md-0">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
          </div>
          <div class="counter-num">
            <p class="counter">2</p>
            <span class="counter-text">YEARS OF EXPERIENCE</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="counter-box pt-4 pt-md-0">
          <div class="counter-ico">
            <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
          </div>
          <div class="counter-num">
            <p class="counter">11</p>
            <span class="counter-text">AWARD WON</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--/ Section Projects Star /-->
<section id="projects" class="portfolio-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Projects
          </h3>
          <p class="subtitle-a">
            For more cool projects, please visit my
            <a href="https://github.com/Hidorikun" class="btn-link">GitHub</a>
            page
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="work-box">
          <a href="../assets/img/project-loc-de-munca.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../assets/img/project-loc-de-munca.png" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Job hunting</h2>
                <div class="w-more">
                  <span class="w-ctegory">Educational Desktop App</span> / <span class="w-date">2015</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="https://github.com/Hidorikun/In-cautarea-unui-loc-de-munca"><span class="ion-social-github"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../assets/img/project-students-db.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../assets/img/project-students-db.png" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Student Management System</h2>
                <div class="w-more">
                  <span class="w-ctegory">Management System</span> / <span class="w-date">2016</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="https://github.com/Hidorikun/Faculty-Database"><span class="ion-social-github"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../assets/img/project-graf.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../assets/img/project-graf.png" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Graph Exploration</h2>
                <div class="w-more">
                  <span class="w-ctegory">Educational Site</span> / <span class="w-date">2015</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="https://github.com/Hidorikun/Explorarea-Grafurilor"><span class="ion-social-github"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="work-box">
          <a href="../assets/img/project-motion-tracker.png" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="../assets/img/project-motion-tracker.png" alt="" class="img-fluid">
            </div>
          </a>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">VR Arm Motion Tracking</h2>
                <div class="w-more">
                  <span class="w-ctegory">Bachelor's Thesis</span> / <span class="w-date">2019</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="https://github.com/Hidorikun/VR-Arm-Motion-Tracker"><span class="ion-social-github"></span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!--/ Section Projects End /-->

<!--/ Section Contact-Footer Star /-->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(/assets/img/overlay-bg.jpg)">
  <div class="overlay-mf"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="contact-mf">
          <div id="contact" class="box-shadow-full">
            <div class="row">
              <div class="col-md-12">
                <div class="title-box-2 pt-4 pt-md-0">
                  <h5 class="title-left">
                    Get in Touch
                  </h5>
                </div>
                <div class="more-info">
                  <p class="lead">
                    If you want to contact me, here are some ways you can do so.
                  </p>
                  <ul class="list-ico">
                    <li><span class="ion-email"></span> georgevele2016@gmail.com</li>
                  </ul>
                </div>
                <div class="socials">
                  <ul>
                    <li><a href="https://www.facebook.com/george.vele.7"><span class="ico-circle"><i class="ion-social-facebook"></i></span></a></li>
                    <li><a href="https://www.linkedin.com/in/velegeorge/"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>George Vele</strong>. All Rights Reserved</p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=DevFolio
              -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
<!--/ Section Contact-footer End /-->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!--<div id="preloader"></div>-->
